version: '3.8'
services:
  user-ms:
    build: ./user-service-directory
    ports:
      - "8081:8080" # El MS Users usa 8080 internamente, expuesto en 8081 en el host
    environment:
      # ... variables de la BD de Usuarios
      SERVER_PORT: 8080

  restaurant-ms:
    build: ./restaurant-service-directory
    ports:
      - "8082:8080" # El MS Restaurant usa 8080 internamente, expuesto en 8082 en el host
    environment:
      # ... variables de la BD de Restaurantes
      SERVER_PORT: 8080
    depends_on:
      - user-ms